 <form class="w-25 " action="/api/session/olvidar-contra" method="post">  
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" name="email" class="form-control" id="email">
        </div>

 <button type="submit" class="btn btn-success">Restablecer contraseña</button>
  </form>