<h2>Crear nueva contraseña</h2>
 <form class="w-25 " action="/api/session/restablecer-contra/{{user}}" method="post">  
        <div class="mb-3">
            <label for="new-password" class="form-label">Nueva contraseña</label>
            <input type="text" name="newPassword" class="form-control" id="restablecer">
        </div>

 <button type="submit" class="btn btn-success">Crear</button>
  </form>