
<div class="row justify-content-center">
    <a href="/cart/views/{{user.cart}}" id="cart"></a>
    <h2>Compra exitosa</h2>
    <button class="btn btn-success" style="width: 100px;" id="button">Generar ticket</button>
</div>



<script>
    const cart = document.getElementById("cart");
    const cartHref = cart.getAttribute("href");
    const idCart = cartHref.match(/\/cart\/views\/(.+)/)[1]

    const button = document.getElementById("button");
    button.addEventListener("click", async () => {

        try {
            window.location.href = `/api/carts/${idCart}/purchase`; //redirecciona solo rutas get, luego de una fetch no puede usar esta href

        } catch (error) {
            console.log(error)
        };
    });


</script>