<h2>Lista productos Real Time websocket</h2>
<hr />

 <table class="table table-dark" >
        <thead>
            <tr>
                <th scope="col">Título</th>
                <th scope="col">Descripción</th>
                <th scope="col">Precio</th>
                <th scope="col">Fotografías</th>
            
            </tr>
        </thead>
        <tbody id="tabla">
            
            {{#each products}}
            <tr>
                <td id="td1">{{this.title}}</td>
                <td id="td2">{{this.description}}</td>
                <td id="td3">{{this.price}}</td>
                <td id="td4">{{this.thumbnails}}</td>
            </tr>
            {{/each}}
            
        </tbody>
    </table>
</div> 


<script src="/socket.io/socket.io.js"></script>
<script src="/js/indexv.js"></script>